<!--
  Generated template for the TripPilgrimsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Trip Pilgrims</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!-- <ion-card>

    <ion-card-header>
      Card Header
    </ion-card-header>
  
    <ion-card-content>
    </ion-card-content>
  
  </ion-card> -->

  <ion-list *ngIf="!nonExistPiligrim; else notExist">
    <button ion-button block (click)="scanCode()">Scan pilgrim code</button>
    <ion-item *ngFor="let pilgrim of pilgrimsList; let i = index">
      <h2>
        <!-- <span *ngIf="trip.source"> From
          <span style="font-weight:bold;"> {{trip.source}}</span>
        </span> -->
        <span *ngIf="pilgrim.active">Name:
          <span style="font-weight:bold; color: green"> {{pilgrim.name}}</span>
        </span>
        <span *ngIf="!pilgrim.active">Name:
          <span style="font-weight:bold;"> {{pilgrim.name}}</span>
        </span>
        <!-- <span *ngIf="i===0" style="color: green"> (Active Now)</span> -->
      </h2>
      <p>Gender:
        <span style="font-weight:bold;"> {{pilgrim.gender}}
        </span>
        <span style="font-weight:bold;margin:0 5px;">
          |
        </span>

        Nationality:
        <span style="font-weight:bold;"> {{pilgrim.nationality }} </span>
      </p>
      <!-- <p>
        Free Seats:
        <span style="font-weight:bold;margin-right: 15px;">{{trip.free_seats }} </span>
        All Seats:
        <span style="font-weight:bold"> {{trip.free_seats + trip.occupied_seats }}</span>
      </p> -->
      <!-- <button *ngIf="i === 0 " ion-button clear item-end (click)="openTripPilgrims()">View Pilgrims List</button> -->
    </ion-item>
  </ion-list>
  <ng-template #notExist>
    <ion-card>
      This piligrim does not belong to this trip.
      <button style="margin-left: auto;" ion-button color="primary" outline (click)="forceAdd()"> Force enter</button>
    </ion-card>
  </ng-template>
</ion-content>